<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://grpwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>grpwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GRPWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$GRPWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BD_CRPEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bdserverupc.database.windows.net,1433;Initial Catalog=BD_CRP;Persist Security Info=False;User ID=dsullon;Password=UPC-TP2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:bdserverupc.database.windows.net,1433;Initial Catalog=BD_CRP;Persist Security Info=False;User ID=dsullon;Password=UPC-TP2017;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bdserverupc.database.windows.net,1433;Initial Catalog=BD_CRP;Persist Security Info=False;User ID=dsullon;Password=UPC-TP2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BD_CRPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/CRPModel.csdl|res://*/CRPModel.ssdl|res://*/CRPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bdserverupc.database.windows.net,1433;initial catalog=BD_CRP;Persist Security Info=False;User ID=dsullon;Password=UPC-TP2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BD_CRPEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>metadata=res://*/CRPModel.csdl|res://*/CRPModel.ssdl|res://*/CRPModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:bdserverupc.database.windows.net,1433;initial catalog=BD_CRP;persist security info=False;user id=dsullon;password=UPC-TP2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>