@model IEnumerable<GRP.AppWeb.Models.Producto>

<script>
    var data = @Html.Raw(Json.Encode(@Model));
    $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });
</script>


<table id="table"
       data-page-size="5"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-side-pagination="server"
       data-sort-name="Nombre"
       data-sort-order="desc"
       data-toggle="table"
       data-url="ListadoBusquedaProducto">
    <thead>
        <tr>
            <th data-radio="true"></th>
            <th data-field="Id">Id</th>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
            <th data-field="Descripcion">Descripcion</th>
            <th data-field="Precio">Precio</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $(function () {

        $('#table').on('check.bs.table', function (e, row) {
            console.log(row);
            $('#Id').val(row.Id);
            $('#nombre').val(row.Nombre);
            $('#Precio').val(row.Precio);
        });
    });

</script>